<h1 class="pageHeader">{{title}}</h1>

<div class="AboutMeSection">
    
<h2>За мен: </h2>
-------------------------------------------------------- <br>
    Име: {{name}}, <br>
    Възраст: {{age}}, <br>
    Специалност: {{speciality}}, <br>
    Курс: {{course}} <br>
-------------------------------------------------------- 
</div>

<div class="HobbiesSection">    
<h2>Хобита: </h2>
-------------------------------------------------------- <br>
    {{hobby1}}, <br>
    {{hobby2}}, <br>
    {{hobby3}}, <br>
    {{interes11}} <br>
-------------------------------------------------------- 
</div>

<div class="ContentCreators">
    <h2>Content Creators: </h2>
        <div>
          <iframe width="750" height="500" src="https://www.youtube.com/embed/E7FDRP9O89k">{{title2}}</iframe>
        </div>
</div>
  
<div class="Prices">    
    <h2>Примерно остойностяване: </h2>
    -------------------------------------------------------- <br>
       Java Application: {{javaApp}}, <br>
       ASP.NET Application: {{NetApp}}, <br>
       JavaScript Application: {{jsAPP}}, <br>
       Data Science: {{DataScienceApp}} <br>
    -------------------------------------------------------- 
    </div>
    